// avatar less
.avatar {
  overflow: hidden;
  img {
    width: 100%;
    height: 100%;
  }
}

// home side category less
.category {
  margin-bottom: 30px;
  background-color: #fff;
  .title {
    padding-left: 30px;
    height: 60px;
    line-height: 60px;
    border-bottom: 1px solid #e9e9e9;
    font-size: 24px;
  }
  ul {
    padding: 0 30px;
    .catename {
      display: flex;
      justify-content: space-between;
      align-items: center;
      span {
        font-size: 24px;
      }
    }
    li {
      font-size: 20px;
      line-height: 40px;
      ul {
        padding-left: 0;
        li a {
          color: #a0a0a0;
        }
      }
    }
  }
}

// home side deal
.deal {
  margin-bottom: 30px;
  .dealItem {
    width: 400px;
    margin-bottom: 15px;
    img {
      border-radius: 4px;
      width: 100%;
    }
  }
}

// home side download
.download {
  display: flex;
  justify-content: space-between;
  padding: 30px 0;
  border-top: 1px solid #cacaca;
  border-bottom: 1px solid #cacaca;
  img {
    width: 195px;
  }
}


// my-order-item user center order item
.my-order-item {
  border: 1px solid #e9e9e9;
  margin-bottom: 30px;
  .status {
    padding: 0 30px;
    height: 54px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #e9e9e9;
    .status-desc {
      color: #696969;
    }
    a {
      color: #696969;
    }
  }
  .total {
    height: 88px;
    padding: 0 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .total-price {
      font-size: 16px;
      color: #696969;
    }
  }
}

.my-order-product-item {
  padding: 20px;
  border-bottom: 1px solid #e9e9e9;
  display: flex;
  .pro-img {
    width: 110px;
    height: 84px;
    border: 1px solid #e9e9e9;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
    img {
      width: 90%;
    }
  }
  .pro-info {
    font-size: 14px;
    line-height: 22px;
    color: #a0a0a0;
    .pro-name {
      color: #353535;
    }
  }
}

// ProductListItem product-list-item
.product-list-item {
  width: 295px;
  margin-bottom: 20px;
  .img {
    height: 220px;
    img {
      height: 100%;
    }
  }
  .pro-name {
    height: 58px;
    font-size: 16px;
    line-height: 24px;
    color: #696969;
    padding-top: 10px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
  }
}

// Price
.price-tmp {
  .deal_price {
    font-size: 24px;
    color: #d63e3e;
    margin-right: 8px;
  }
  .price {
    font-size: 24px;
    color: #4469d2;
    margin-right: 8px;
  }
  .original_price {
    font-size: 14px;
    color: #cacaca;
  }
}