.home {
  background-color: #f6f6f6;
  padding: 40px 0;
  .homeContent {
    display: flex;
    justify-content: space-between;
    .recommendVideo {
      width: 796px;
    }
    .side {
      width: 400px;
    }
  }
}

footer {
  .logo {
    width: 140px;
  }
  .link {
    padding: 30px 0;
    a {
      color: #696969;
      font-size: 16px;
      margin-right: 30px;
    }
  }
  .copyright {
    font-size: 14px;
    color: #a0a0a0;
  }
}